/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  padding: 4.2rem 0;
  background-color: $color-footer;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    .footer__1 {
      width: 74%;
      padding: 0 2.4rem;

      &-list {
        display: flex;
        justify-content: space-between;

        .comunication,
        .related {
          h5 {
            font-size: 1.8rem;
            font-weight: 700;

            margin-top: 1.6rem;
            margin-left: 0.5rem;

            text-transform: uppercase;
          }

          ul {
            li {
              font-size: 1.5rem;
              line-height: 1.6;
            }
          }
        }

        .comunication {
          width: 65%;

          h5 {
            margin-bottom: 1.5rem;
          }

          ul {
            width: 73%;

            li {
              margin-bottom: 2.4rem;
            }
          }
        }

        .related {
          width: 41.5%;

          h5 {
            margin-bottom: 9px;
          }

          ul {
            margin-left: 6px;

            li {
              margin-bottom: 6px;
            }
          }
        }
      }
    }

    .footer__form {
      width: 26%;
      margin-top: -0.3rem;
      padding: 0px 1.8rem 0 2.7rem;

      h5 {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;

        padding: 2rem 1rem 1rem 1rem;
      }
    }
  }
}