/* Header
------------------------------------------------------------*/

.header {
    &--pc {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(767) {
            display: none;
        }

        .logo {
            padding: 1.6rem 2.2rem;

            @include breakpoint(1024) {
                width: 18%;
                padding: 2rem;
            }

            img {
                @include breakpoint(1024) {
                    width: 100%;
                }
            }
        }

        .nav {
            nav {
                display: flex;

                a {
                    display: inline-block;
                    position: relative;
                    padding: 2.5rem 0 3.5rem 0;
                    width: 20.07rem;

                    font-size: 1.6rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 0.7px;

                    border-left: 0.1rem solid $color-grey;

                    @include breakpoint(1280) {
                        width: 14rem;
                    }

                    @include breakpoint(1024) {
                        font-size: 1.3rem;
                        width: fit-content;
                        padding: 2rem;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -0.4rem;
                        left: 50%;
                        transform: translateX(-50%);

                        width: 0;
                        height: 0;

                        background-color: $color-primary;
                        transition: all 0.3s;
                    }

                    &:hover {
                        color: $color-primary;
                    }

                    &:hover::after {
                        width: 100%;
                        height: 4px;
                    }
                }
            }
        }
    }

    &--mobile {
        position: relative;
        display: none;
        height: 8rem;

        @include breakpoint(767) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
        }

        .hamburger {
            width: 5rem;
            height: 5rem;

            border: none;
            background-color: transparent;

            cursor: pointer;
            z-index: 12;

            .hamburger__line {
                display: block;
                
                width: 100%;
                height: 0.4rem;

                border-radius: 0.4rem;
                background-color: $color-primary;

                transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                    opacity 0.3s ease-out;

                &:not(:first-child) {
                    margin-top: 0.7rem;
                }
            }
        }

        .hamburger--active {
            .hamburger__line-1 {
                transform: translateY(11px) rotate(-135deg);
            }

            .hamburger__line-2 {
                opacity: 0;
                transform: translateX(-50%);
            }

            .hamburger__line-3 {
                transform: translateY(-11px) rotate(-225deg);
            }
        }

        .logo {
            img {
                width: 80%;
            }
        }
    }
}

.nav--mobile {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    
    width: 60%;
    height: 100vh;
    
    background-color: $color-white;
    transition: linear 0.3s;
    z-index: 11;

    @include breakpoint(575) {
        width: 100%;
    }

    nav {
        margin-top: 12rem;

        a {
            display: block;
            position: relative;

            padding: 2.5rem 0px 3.5rem 0px;
            margin-bottom: 1.5rem;

            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.7px;

            &::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 50%;
                transform: translateX(-50%);

                width: 0;
                height: 0;
                background-color: $color-primary;
                transition: all 0.3s;
            }

            &:hover {
                color: $color-primary;
            }

            &:hover::after {
                width: 50%;
                height: 0.4rem;
            }
        }
    }
}

.nav--active {
    transform: translateX(0%);
    transition: linear 0.3s;
}

.overlay {
    opacity: 0;
}

.overlay--active {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 100vh;

    background-color: rgba($color: $color-black, $alpha: 0.5);
    
    opacity: 1;
    z-index: 10;
    transition: linear 0.4s;position: absolute;
    transition: linear 0.4s;
}
