/* layout
------------------------------------------------------------*/
body{
	font-family: $mainFonts;
	font-size: 1.4rem;
	line-height: 1.5;
}

.container{
	max-width: $baseWidth;
	margin: 0 auto;
	padding: 0 2rem;
}