/* Banner
------------------------------------------------------------*/
.banner {
    &__slider {
        &-item {
            background-size: cover;
            background-position: center;
            height: 99rem;
            position: relative;

            .content {
                position: absolute;
                top: 54.6%;
                left: 49.7%;
                transform: translateX(-49.3%) translateY(-50%);
                width: 90%;
                text-align: center;
                font-family: 'Helvetica';

                &-1 {
                    text-transform: uppercase;
                    font-size: 10rem;
                    color: $color-white;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: 0.5rem;

                    @include breakpoint(767) {
                        font-size: 6rem;
                    }
                }

                &-2 {
                    // margin-top: 3px;
                    font-size: 2.2rem;
                    letter-spacing: 7px;
                    color: $color-white;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-align: center;

                    @include breakpoint(767) {
                        font-size: 1.8rem;
                        margin-top: 3rem;
                    }
                }

                .button {
                    text-align: center;
                    margin-top: 41px;
                    margin-right: 10px;

                }


            }
        }
    }

}


/* About
------------------------------------------------------------*/
.about {
    margin-bottom: 6rem;

    &__title {
        margin: 7.4rem 0 2.7rem 2.5rem;
    }

    &__description {
        width: 81%;
        margin: 0 auto 6.3rem auto;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: -0.06rem;

    }

    &__tabs {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        position: relative;

        width: fit-content;
        border-bottom: 2px solid $color-grey3;

        margin: 0 auto 10rem auto;

        @include breakpoint(767) {
            margin: 0 auto 5rem auto;

        }

        .tab {
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 700;
            margin: 0 3px;
            padding: 10px 20px 7px 20px;
            cursor: pointer;
            color: $color-grey2;
            transition: color 0.3s;

            &:hover {
                color: $color-black;
            }

            &.active {
                color: $color-primary;
                font-weight: 600;
            }
        }

        .underline {
            position: absolute;
            bottom: 0;
            height: 2px;
            background: $color-primary;
            transition: left 0.3s ease, width 0.3s ease;
        }
    }

    &__tabs-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 94.5%;
        margin: auto;

        @include breakpoint(767) {
            width: 100%;
            display: block;
        }

        .detail {
            width: 46%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 9.3rem;

            @include breakpoint(767) {
                width: 100%;
                display: block;
                margin-bottom: 6rem;
            }

            &:hover {
                .icon {
                    div {
                        border-color: transparent;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        transition: all 0.3s;
                    }
                }

                .text {
                    h4 {
                        color: $color-primary;
                        transition: linear 0.4s;
                    }
                }
            }

            .icon {
                width: 18.6%;

                @include breakpoint(1024) {
                    width: 34%;
                }

                @include breakpoint(767) {
                    width: 100%;
                    margin-bottom: 2rem;
                    display: flex;
                    justify-content: center;
                }


                div {
                    width: 100px;
                    height: 100px;
                    border: 2px solid $color-grey;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s;

                    position: relative;

                    img {
                        max-width: 200%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }

                }

            }

            .text {
                width: 76%;

                @include breakpoint(1024) {
                    width: 64%;
                }

                @include breakpoint(767) {
                    width: 100%;
                    text-align: center;
                }



                h4 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 0.9;
                    letter-spacing: 3px;
                    margin-bottom: 2rem;
                    transition: linear 0.3s;

                }

                p {
                    font-size: 1.6rem;
                    letter-spacing: -0.5px;
                }
            }
        }
    }
}

/* Feature
------------------------------------------------------------*/
.feature {
    &__background {
        background-size: cover;
        background-position: center;
        padding: 17.4rem 10rem 15.6rem 18.7rem;

        @include breakpoint(1024) {
            padding: 10rem;
        }

        @include breakpoint(767) {
            padding: 4rem;
        }
    }

    &__info {

        color: $color-white;

        display: flex;
        justify-content: space-between;

        @include breakpoint(1024) {
            display: block;
        }

        &-img {
            width: 49%;

            @include breakpoint(1024) {
                width: 100%;
            }
        }

        &-content {
            width: 45.6%;

            @include breakpoint(1024) {
                width: 100%;
            }

            p {
                width: 78%;
                @include breakpoint(1024) {
                    width: 100%;
                }
            }

            .content-1 {
                text-transform: uppercase;
                font-size: 1.6rem;
                letter-spacing: 2.5px;
                color: #999;
                font-weight: 700;
                margin-top: 3.5rem;

            }

            .content-2 {
                margin-top: 0.7rem;
                font-size: 4rem;
                font-weight: 700;
                letter-spacing: -2px;
            }

            .content-3 {
                font-size: 2rem;
                margin-top: 2.3rem;
                font-family: "Helvetica";
                line-height: 1.6;
                // width: 78%;
            }

            ;

            .content-4 {
                font-family: "Helvetica";
                font-size: 1.6rem;
                margin-top: 46px;
                // width: 76%;
            }

            .content-5,
            .content-6 {
                margin-top: 5rem;

                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                >img {
                    margin-right: 3rem;
                }

                >div {
                    h5 {
                        line-height: 0.8;
                        font-size: 1.6rem;
                        font-weight: 700;
                        margin-bottom: 1.4rem;
                    }

                    p {
                        font-family: "Helvetica";
                        font-size: 1.6rem;
                        // width: 78%;
                    }
                }


            }

            .content-6 {
                margin-top: 5.8rem;
            }
        }

    }

    &__bottom {
        padding: 5rem 0 4.7rem 16rem;
        background-color: $color-primary;
        color: $color-white;

        display: flex;
        justify-content: center;
        align-items: center;


        img {
            margin-right: 20px;
        }

        p {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2.4rem;
            letter-spacing: 2.5px;
        }
    }
}