/*------------------------------------------------------------
Custom slick dots
------------------------------------------------------------*/
.slick-dots {
	display: flex;
	justify-content: center;
	
	margin-bottom: 7rem;
	list-style-type: none;
	
		li {
			margin: 0 0.8rme;
		}
	
		button {
			display: block;
			width: 1.5rem !important;
			height: 1.5rem !important;
			padding: 0;
			
			border: none;
			border-radius: 100%;

			background-color: $color-darkGrey !important;
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: $color-white !important;
		}
	
}