@font-face {
    font-family: "Helvetica";
    src: url("../assets/font/Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: "Myriad";
    src: url("../assets/font/MYRIADPRO-REGULAR.OTF") format("truetype");
}