$mainFonts : "Open Sans", sans-serif;
$baseWidth: 128rem;

$color-primary: #D60151;
$color-grey: #F4F4F4;
$color-grey2: #9D9D9D;
$color-grey3: #D3D3D3;
$color-grey4: #F6F6F6;
$color-grey5: #CCC;
$color-grey6: #95999c;
$color-grey7: #999;
$color-dark: #2a2d2e;
$color-darkGrey: #8B8D8F;
$color-white: #FFF;
$color-black: #000;
$color-footer: #edecea


