$mainFonts : "Open Sans", sans-serif;
$baseWidth: 128rem;

$color-primary: #D60151;
$color-grey: #F4F4F4;
$color-grey2: #9D9D9D;
$color-grey3: #D3D3D3;
$color-darkGrey: #8B8D8F;
$color-white: #FFF;
$color-black: #000;
