@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  box-sizing: border-box;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 8px;
}
.slick-dots button {
  display: block;
  width: 15px !important;
  height: 15px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #8B8D8F !important;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #FFF !important;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.header--pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header--pc {
    display: none;
  }
}
.header--pc .logo {
  padding: 1.6rem 2.2rem;
}
@media only screen and (max-width: 1024px) {
  .header--pc .logo {
    width: 18%;
    padding: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header--pc .logo img {
    width: 100%;
  }
}
.header--pc .nav nav {
  display: flex;
}
.header--pc .nav nav a {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
  padding: 2.5rem 0px 3.5rem 0px;
  width: 20.07rem;
  border-left: 1px solid #F4F4F4;
}
@media only screen and (max-width: 1280px) {
  .header--pc .nav nav a {
    width: 14rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header--pc .nav nav a {
    font-size: 1.3rem;
    width: fit-content;
    padding: 2rem;
  }
}
.header--pc .nav nav a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  background-color: #D60151;
  transition: all 0.3s;
}
.header--pc .nav nav a:hover {
  color: #D60151;
}
.header--pc .nav nav a:hover::after {
  width: 100%;
  height: 4px;
}
.header--mobile {
  height: 8rem;
  display: none;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .header--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
}
.header--mobile .hamburger {
  z-index: 12;
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header--mobile .hamburger .hamburger__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #D60151;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease-out;
}
.header--mobile .hamburger .hamburger__line:not(:first-child) {
  margin-top: 7px;
}
.header--mobile .hamburger--active .hamburger__line-1 {
  transform: translateY(11px) rotate(-135deg);
}
.header--mobile .hamburger--active .hamburger__line-2 {
  opacity: 0;
  transform: translateX(-50%);
}
.header--mobile .hamburger--active .hamburger__line-3 {
  transform: translateY(-11px) rotate(-225deg);
}
.header--mobile .logo img {
  width: 80%;
}

.nav--mobile {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: #FFF;
  transition: linear 0.3s;
  transform: translateX(100%);
}
@media only screen and (max-width: 575px) {
  .nav--mobile {
    width: 100%;
  }
}
.nav--mobile nav {
  margin-top: 12rem;
}
.nav--mobile nav a {
  display: block;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
  padding: 2.5rem 0px 3.5rem 0px;
  margin-bottom: 1.5rem;
}
.nav--mobile nav a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  background-color: #D60151;
  transition: all 0.3s;
}
.nav--mobile nav a:hover {
  color: #D60151;
}
.nav--mobile nav a:hover::after {
  width: 50%;
  height: 4px;
}

.nav--active {
  transform: translateX(0%);
  transition: linear 0.3s;
}

.overlay {
  opacity: 0;
}

.overlay--active {
  opacity: 1;
  transition: linear 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: linear 0.4s;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Button
------------------------------------------------------------*/
.btn-primary {
  padding: 14px 26px;
  text-transform: uppercase;
  border: 2px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
.title h2 {
  font-size: 5rem;
  text-align: center;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2::before {
  width: 6rem;
  height: 0.2rem;
  background-color: #000;
  margin-right: 5rem;
  content: "";
}
.title h2::after {
  width: 6rem;
  height: 0.2rem;
  background-color: #000;
  margin-left: 5rem;
  content: "";
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Page
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Banner
------------------------------------------------------------*/
.banner__slider-item {
  background-size: cover;
  background-position: center;
  height: 99rem;
  position: relative;
}
.banner__slider-item .content {
  position: absolute;
  top: 54.6%;
  left: 49.7%;
  transform: translateX(-49.3%) translateY(-50%);
  width: 90%;
  text-align: center;
  font-family: "Helvetica";
}
.banner__slider-item .content-1 {
  text-transform: uppercase;
  font-size: 10rem;
  color: #FFF;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.5rem;
}
@media only screen and (max-width: 767px) {
  .banner__slider-item .content-1 {
    font-size: 6rem;
  }
}
.banner__slider-item .content-2 {
  font-size: 2.2rem;
  letter-spacing: 7px;
  color: #FFF;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .banner__slider-item .content-2 {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
}
.banner__slider-item .content .button {
  text-align: center;
  margin-top: 41px;
  margin-right: 10px;
}

/* About
------------------------------------------------------------*/
.about__title {
  margin: 7.4rem 0 2.7rem 2.5rem;
}
.about__description {
  width: 81%;
  margin: 0 auto 6.3rem auto;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.06rem;
}
.about__tabs {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  width: fit-content;
  border-bottom: 2px solid #D3D3D3;
  margin: 0 auto 10rem auto;
}
@media only screen and (max-width: 767px) {
  .about__tabs {
    margin: 0 auto 5rem auto;
  }
}
.about__tabs .tab {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 3px;
  padding: 10px 20px 7px 20px;
  cursor: pointer;
  color: #9D9D9D;
  transition: color 0.3s;
}
.about__tabs .tab:hover {
  color: #000;
}
.about__tabs .tab.active {
  color: #D60151;
  font-weight: 600;
}
.about__tabs .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #D60151;
  transition: left 0.3s ease, width 0.3s ease;
}
.about__tabs-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94.5%;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .about__tabs-content {
    width: 100%;
    display: block;
  }
}
.about__tabs-content .detail {
  width: 46%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.3rem;
}
@media only screen and (max-width: 767px) {
  .about__tabs-content .detail {
    width: 100%;
    display: block;
    margin-bottom: 6rem;
  }
}
.about__tabs-content .detail:hover .icon div {
  border-color: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s;
}
.about__tabs-content .detail:hover .text h4 {
  color: #D60151;
  transition: linear 0.4s;
}
.about__tabs-content .detail .icon {
  width: 18.6%;
}
@media only screen and (max-width: 1024px) {
  .about__tabs-content .detail .icon {
    width: 34%;
  }
}
@media only screen and (max-width: 767px) {
  .about__tabs-content .detail .icon {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
}
.about__tabs-content .detail .icon div {
  width: 100px;
  height: 100px;
  border: 2px solid #F4F4F4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
}
.about__tabs-content .detail .icon div img {
  max-width: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.about__tabs-content .detail .text {
  width: 76%;
}
@media only screen and (max-width: 1024px) {
  .about__tabs-content .detail .text {
    width: 64%;
  }
}
@media only screen and (max-width: 767px) {
  .about__tabs-content .detail .text {
    width: 100%;
    text-align: center;
  }
}
.about__tabs-content .detail .text h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 0.9;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  transition: linear 0.3s;
}
.about__tabs-content .detail .text p {
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

/*# sourceMappingURL=style.css.map */
