@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  box-sizing: border-box;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 8px;
}
.slick-dots button {
  display: block;
  width: 15px !important;
  height: 15px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #8B8D8F !important;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #FFF !important;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.header--pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header--pc {
    display: none;
  }
}
.header--pc .logo {
  padding: 1.6rem 2.2rem;
}
@media only screen and (max-width: 1024px) {
  .header--pc .logo {
    width: 18%;
    padding: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header--pc .logo img {
    width: 100%;
  }
}
.header--pc .nav nav {
  display: flex;
}
.header--pc .nav nav a {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
  padding: 2.5rem 0px 3.5rem 0px;
  width: 20.07rem;
  border-left: 1px solid #F4F4F4;
}
@media only screen and (max-width: 1280px) {
  .header--pc .nav nav a {
    width: 14rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header--pc .nav nav a {
    font-size: 1.3rem;
    width: fit-content;
    padding: 2rem;
  }
}
.header--pc .nav nav a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  background-color: #D60151;
  transition: all 0.3s;
}
.header--pc .nav nav a:hover {
  color: #D60151;
}
.header--pc .nav nav a:hover::after {
  width: 100%;
  height: 4px;
}
.header--mobile {
  height: 8rem;
  display: none;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .header--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
}
.header--mobile .hamburger {
  z-index: 12;
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header--mobile .hamburger .hamburger__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #D60151;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease-out;
}
.header--mobile .hamburger .hamburger__line:not(:first-child) {
  margin-top: 7px;
}
.header--mobile .hamburger--active .hamburger__line-1 {
  transform: translateY(11px) rotate(-135deg);
}
.header--mobile .hamburger--active .hamburger__line-2 {
  opacity: 0;
  transform: translateX(-50%);
}
.header--mobile .hamburger--active .hamburger__line-3 {
  transform: translateY(-11px) rotate(-225deg);
}
.header--mobile .logo img {
  width: 80%;
}

.nav--mobile {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: #FFF;
  transition: linear 0.3s;
  transform: translateX(100%);
}
@media only screen and (max-width: 575px) {
  .nav--mobile {
    width: 100%;
  }
}
.nav--mobile nav {
  margin-top: 12rem;
}
.nav--mobile nav a {
  display: block;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
  padding: 2.5rem 0px 3.5rem 0px;
  margin-bottom: 1.5rem;
}
.nav--mobile nav a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  background-color: #D60151;
  transition: all 0.3s;
}
.nav--mobile nav a:hover {
  color: #D60151;
}
.nav--mobile nav a:hover::after {
  width: 50%;
  height: 4px;
}

.nav--active {
  transform: translateX(0%);
  transition: linear 0.3s;
}

.overlay {
  opacity: 0;
}

.overlay--active {
  opacity: 1;
  transition: linear 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: linear 0.4s;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  background-color: #edecea;
  padding: 42px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__wrapper .footer__1 {
  width: 74%;
  padding: 0 24px;
}
.footer__wrapper .footer__1-list {
  display: flex;
  justify-content: space-between;
}
.footer__wrapper .footer__1-list .comunication h5,
.footer__wrapper .footer__1-list .related h5 {
  margin-top: 16px;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 5px;
  text-transform: uppercase;
}
.footer__wrapper .footer__1-list .comunication ul li,
.footer__wrapper .footer__1-list .related ul li {
  font-size: 1.5rem;
  line-height: 1.6;
}
.footer__wrapper .footer__1-list .comunication {
  width: 65%;
}
.footer__wrapper .footer__1-list .comunication h5 {
  margin-bottom: 15px;
}
.footer__wrapper .footer__1-list .comunication ul {
  width: 73%;
}
.footer__wrapper .footer__1-list .comunication ul li {
  margin-bottom: 24px;
}
.footer__wrapper .footer__1-list .related {
  width: 41.5%;
}
.footer__wrapper .footer__1-list .related h5 {
  margin-bottom: 9px;
}
.footer__wrapper .footer__1-list .related ul {
  margin-left: 6px;
}
.footer__wrapper .footer__1-list .related ul li {
  margin-bottom: 6px;
}
.footer__wrapper .footer__form {
  width: 26%;
  padding: 0px 18px 0 27px;
  margin-top: -3px;
}
.footer__wrapper .footer__form h5 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 10px 10px 10px;
}

/* layout
------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Button
------------------------------------------------------------*/
.btn-primary {
  padding: 14px 26px;
  text-transform: uppercase;
  border: 2px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-primary--solid {
  padding: 15px 35px 15px 35px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #000;
  background-color: #FFF;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
.title h2 {
  font-size: 5rem;
  text-align: center;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2::before {
  width: 6rem;
  height: 0.2rem;
  background-color: #000;
  margin-right: 5rem;
  content: "";
}
.title h2::after {
  width: 6rem;
  height: 0.2rem;
  background-color: #000;
  margin-left: 5rem;
  content: "";
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
.form-group {
  width: 100%;
  padding: 10px 38px 11px 12px;
  border-radius: 5px;
  border: 1px solid rgba(51, 47, 41, 0.3);
  font-size: 1.6rem;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 13px;
  position: relative;
}
.form-group input,
.form-group textarea {
  border: none;
  outline: none;
  width: 98%;
}
.form-group input::placeholder, .form-group textarea::placeholder {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #ccc;
}
.form-group img {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
}
.form-group--textarea {
  padding: 9px 38px 7px 12px;
  margin-bottom: 14px;
}
.form-group--textarea img {
  top: 28%;
}
.form-button button {
  padding: 11px 20px 10px 19px;
  color: #FFF;
  background-color: #000;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  width: 100%;
}

/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Page
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Banner
------------------------------------------------------------*/
.banner__slider-item {
  background-size: cover;
  background-position: center;
  height: 99rem;
  position: relative;
}
.banner__slider-item .content {
  position: absolute;
  top: 54.6%;
  left: 49.7%;
  transform: translateX(-49.3%) translateY(-50%);
  width: 90%;
  text-align: center;
  font-family: "Helvetica";
}
.banner__slider-item .content-1 {
  text-transform: uppercase;
  font-size: 10rem;
  color: #FFF;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.5rem;
}
@media only screen and (max-width: 767px) {
  .banner__slider-item .content-1 {
    font-size: 6rem;
  }
}
.banner__slider-item .content-2 {
  font-size: 2.2rem;
  letter-spacing: 7px;
  color: #FFF;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .banner__slider-item .content-2 {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
}
.banner__slider-item .content .button {
  text-align: center;
  margin-top: 41px;
  margin-right: 10px;
}

/* About
------------------------------------------------------------*/
.about {
  margin-bottom: 6rem;
}
.about__title {
  margin: 7.4rem 0 2.7rem 2.5rem;
}
.about__description {
  width: 81%;
  margin: 0 auto 6.3rem auto;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.06rem;
}
.about__tabs {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  width: fit-content;
  border-bottom: 2px solid #D3D3D3;
  margin: 0 auto 10rem auto;
}
@media only screen and (max-width: 767px) {
  .about__tabs {
    margin: 0 auto 5rem auto;
  }
}
.about__tabs .tab {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 3px;
  padding: 10px 20px 7px 20px;
  cursor: pointer;
  color: #9D9D9D;
  transition: color 0.3s;
}
.about__tabs .tab:hover {
  color: #000;
}
.about__tabs .tab.active {
  color: #D60151;
  font-weight: 600;
}
.about__tabs .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #D60151;
  transition: left 0.3s ease, width 0.3s ease;
}
.about__tabs-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94.5%;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .about__tabs-content {
    width: 100%;
    display: block;
  }
}
.about__tabs-content .detail {
  width: 46%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.3rem;
}
@media only screen and (max-width: 767px) {
  .about__tabs-content .detail {
    width: 100%;
    display: block;
    margin-bottom: 6rem;
  }
}
.about__tabs-content .detail:hover .icon div {
  border-color: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s;
}
.about__tabs-content .detail:hover .text h4 {
  color: #D60151;
  transition: linear 0.4s;
}
.about__tabs-content .detail .icon {
  width: 18.6%;
}
@media only screen and (max-width: 1024px) {
  .about__tabs-content .detail .icon {
    width: 34%;
  }
}
@media only screen and (max-width: 767px) {
  .about__tabs-content .detail .icon {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
}
.about__tabs-content .detail .icon div {
  width: 100px;
  height: 100px;
  border: 2px solid #F4F4F4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
}
.about__tabs-content .detail .icon div img {
  max-width: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.about__tabs-content .detail .text {
  width: 76%;
}
@media only screen and (max-width: 1024px) {
  .about__tabs-content .detail .text {
    width: 64%;
  }
}
@media only screen and (max-width: 767px) {
  .about__tabs-content .detail .text {
    width: 100%;
    text-align: center;
  }
}
.about__tabs-content .detail .text h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 0.9;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  transition: linear 0.3s;
}
.about__tabs-content .detail .text p {
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

/* Feature
------------------------------------------------------------*/
.feature__background {
  background-size: cover;
  background-position: center;
  padding: 17.4rem 10rem 15.6rem 18.7rem;
}
@media only screen and (max-width: 1024px) {
  .feature__background {
    padding: 10rem;
  }
}
@media only screen and (max-width: 767px) {
  .feature__background {
    padding: 4rem;
  }
}
.feature__info {
  color: #FFF;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .feature__info {
    display: block;
  }
}
.feature__info-img {
  width: 49%;
}
@media only screen and (max-width: 1024px) {
  .feature__info-img {
    width: 100%;
  }
}
.feature__info-content {
  width: 45.6%;
}
@media only screen and (max-width: 1024px) {
  .feature__info-content {
    width: 100%;
  }
}
.feature__info-content p {
  width: 78%;
}
@media only screen and (max-width: 1024px) {
  .feature__info-content p {
    width: 100%;
  }
}
.feature__info-content .content-1 {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2.5px;
  color: #999;
  font-weight: 700;
  margin-top: 3.5rem;
}
.feature__info-content .content-2 {
  margin-top: 0.7rem;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -2px;
}
.feature__info-content .content-3 {
  font-size: 2rem;
  margin-top: 2.3rem;
  font-family: "Helvetica";
  line-height: 1.6;
}
.feature__info-content .content-4 {
  font-family: "Helvetica";
  font-size: 1.6rem;
  margin-top: 46px;
}
.feature__info-content .content-5,
.feature__info-content .content-6 {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.feature__info-content .content-5 > img,
.feature__info-content .content-6 > img {
  margin-right: 3rem;
}
.feature__info-content .content-5 > div h5,
.feature__info-content .content-6 > div h5 {
  line-height: 0.8;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}
.feature__info-content .content-5 > div p,
.feature__info-content .content-6 > div p {
  font-family: "Helvetica";
  font-size: 1.6rem;
}
.feature__info-content .content-6 {
  margin-top: 5.8rem;
}
.feature__bottom {
  padding: 5rem 0 4.7rem 16rem;
  background-color: #D60151;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .feature__bottom {
    padding: 3rem;
  }
}
.feature__bottom img {
  margin-right: 20px;
}
.feature__bottom p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 2.5px;
}

/* Reference
------------------------------------------------------------*/
.reference {
  margin: 12rem 0 17.6rem 0;
}
@media only screen and (max-width: 767px) {
  .reference {
    margin: 5rem 0;
  }
}
.reference__title {
  margin-left: 2.2rem;
  margin-bottom: 2.8rem;
}
@media only screen and (max-width: 767px) {
  .reference__title {
    margin: 0 0 2rem 0;
  }
}
.reference__desc {
  font-size: 1.6rem;
  text-align: center;
  width: 46%;
  margin: 0 auto 8.6rem auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  transform: translateX(-5px);
}
@media only screen and (max-width: 767px) {
  .reference__desc {
    width: 90%;
    transform: none;
  }
}
.reference__brands {
  width: 96%;
  margin: auto;
  column-gap: 31px;
  row-gap: 31px;
  --gap: 2rem;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 2px;
  --line-color: red;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .reference__brands {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.reference__brands .brand {
  position: relative;
  display: flex;
  justify-content: center;
}
.reference__brands .brand::after, .reference__brands .brand::before {
  content: "";
  position: absolute;
  background-color: #F6F6F6;
  z-index: 1;
}
.reference__brands .brand::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-inline-start: 0;
  inset-block-start: calc(var(--line-offset) * -1);
}
.reference__brands .brand::before {
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-inline-start: calc(var(--line-offset) * -1);
}

/* Blog
------------------------------------------------------------*/
.blog {
  display: grid;
  grid-template-columns: 50.8% 49.2%;
  grid-template-rows: 540px 540px;
}
.blog__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog__item .tag {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 6px 9px 7px 10px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.38px;
  font-weight: 700;
  font-size: 1.4rem;
}
.blog__item .content {
  position: absolute;
  bottom: 14%;
  left: 15.3%;
  color: #FFF;
  width: 70%;
}
.blog__item .content .date {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.28rem;
}
.blog__item .content .title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 4px;
  color: #FFF;
}
.blog__item .content .desc {
  font-family: "Helvetica";
  font-size: 1.4rem;
  color: #FFF;
  margin-top: 28px;
}
.blog__item .content .button {
  margin-top: 53px;
}
.blog__item--1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #999;
}
.blog__item--2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: aqua;
}
.blog__item--2 .tag {
  padding: 6px 37px 7px 35px;
}
.blog__item--2 .content {
  bottom: 25.1%;
  left: 15.6%;
}
.blog__item--2 .content .title {
  margin-top: 2px;
  font-size: 3.6rem;
}
.blog__item--3 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 117px 0;
  text-align: center;
}
.blog__item--3 h5 {
  text-align: center;
  font-size: 3.6rem;
  color: #2a2d2e;
  font-weight: 700;
  letter-spacing: -2.8px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 54px;
}
.blog__item--3 h5::after {
  position: absolute;
  bottom: -28px;
  content: "";
  width: 90px;
  height: 1px;
  background-color: #D60151;
}
.blog__item--3 p {
  line-height: 2.2;
  font-size: 1.8rem;
  text-align: center;
  color: #95999c;
  width: 61%;
  margin: 0 auto 44px auto;
}
.blog__item--3 button {
  padding: 18px 47px 14px 43px;
  color: #FFF;
  text-transform: uppercase;
  background-color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  letter-spacing: 2.1px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
