/*------------------------------------------------------------
Button
------------------------------------------------------------*/
.btn-primary {
    padding: 1.4rem 2.6rem;

    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    border: 0.2rem solid $color-white;
    color: $color-white;

    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        border-color: $color-primary;
        background-color: $color-primary;
    }
}

.btn-primary--solid {
    padding: 1.5rem 3.5rem 1.5rem 3.5rem;

    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    border: 1px solid $color-white;

    color: $color-black;
    background-color: $color-white;
}