/*------------------------------------------------------------
title
------------------------------------------------------------*/

.title {

    h2 {
        font-size: 5rem;
        text-align: center;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $color-black;

        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            width: 6rem;
            height: 0.2rem;
            background-color: $color-black;
            margin-right: 5rem;
            content: "";
        }

        &::after {
            width: 6rem;
            height: 0.2rem;
            background-color: $color-black;
            margin-left: 5rem;
            content: "";
        }
    }
}