/*------------------------------------------------------------
title
------------------------------------------------------------*/

.title {
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 5rem;
        text-align: center;
        line-height: 1.5em;
        text-transform: uppercase;

        color: $color-black;

        @include breakpoint(575) {
            font-size: 3.5rem;
        }

        @include breakpoint(375) {
            font-size: 2.5rem;
            text-wrap: wrap;
        }

        &::before {
            content: "";

            width: 6rem;
            height: 0.2rem;
            margin-right: 5rem;

            background-color: $color-black;
        }

        &::after {
            content: "";

            width: 6rem;
            height: 0.2rem;
            margin-left: 5rem;
            
            background-color: $color-black;
        }
    }
}